body{
    text-align: center;
    font-family: 'Turret Road', cursive;
}
.head{
    margin: 40px 0 ;
    text-align: center;
    color: white;
    background-image: url(/backgrounds/h_img.jpg)
    
}
.services{
    color: white;
    background-image: url(/backgrounds/s_image.jpg)  
}
.contactus{
    color: white;
    background-image: url(/backgrounds/c_image.jpg)
}
::placeholder{
    color: white;
}
#design{
    display: none;
    cursor: pointer;
}
#development{
    display: none;
    cursor: pointer;
}
#product{
    display: none;
    cursor: pointer;
}
