*{ 
    overflow-x: hidden;
   }
body{
    text-align: center;
    font-family: 'Turret Road', cursive;
}
.head{
    text-align: center;
    color: white;
    background-image: url(/backgrounds/h_img.jpg);
    height: 80vh;
    background-size: cover;
    
}
.services{
    text-align:center;
    color: white;
    background-image: url(/backgrounds/s_image.jpg);
    height: 50vh; 
}
.contactus{
    color: white;
    background-image: url(/backgrounds/c_image.jpg);
}
::placeholder{
    color: white;
}
#design{
    display: none;
    cursor: pointer;
}
#development{
    display: none;
    cursor: pointer;
}
#product{
    display: none;
    cursor: pointer;
}
.portfolio{
    box-align: center;
}
#pwork8{
    display: none;
}
.portfolio> img:hover{
    position: relative;
    bottom: 0;
    background: rgba(245, 239, 239, 0.041);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    height: 100%;
    opacity: 2;
}